@import "variables";
@import "index/_index";
@import "shopping_cart/_shoppingCart";
@import "single_page/_singlePage";
@import "product/_product";

* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.red {
	color: $color_red;
}

.container {
	max-width: 1140px;
	margin: 0 auto;

}
