/*new_arrivals*/
.new_arrivals {
	height: 150px;
	background: #f8f3f4;

	.container {
		@extend %center;
		height: inherit;
		justify-content: space-between;

		@media (max-width: 440px) {
			& {

				flex-direction: column;
				justify-content: center;
			}
		}
	}

	h1 {
		font-size: 24px;
		line-height: 20px;
		font-weight: 900;
		color: $color_red;

		@media (max-width: 440px) {
			& {
				margin-bottom: 20px;
			}
		}
	}

	a {
		text-decoration: none;
		font-size: 14px;
		line-height: 20px;
		font-weight: 300;
		text-transform: uppercase;
		color: #636363;

		&:hover {
			color: $color_red;
		}

		&:last-child {
			font-weight: 700;
			color: $color_red;
		}
	}
}
