@import "_arrivals";
@import "_main";
@import "_form";

.subtotal {
	width: 360px;
	background-color: #f5f3f3;
	padding: 40px;
	box-sizing: border-box;

	& .subtotal_info {
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 14px;
		text-transform: uppercase;
		text-align: right;

		& span {
			margin-left: 15px;
		}

		& h3 {
			font-size: 11px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			color: #4a4a4a;
			text-align: right;
		}

		& h2 {
			text-align: right;
			color: #222222;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			color: #222222;
			padding-bottom: 22px;
			margin-bottom: 17px;

			& span {
				color: $color_red;
				margin-left: 20px;
			}
		}

	}

	button {
	width: 273px;
	height: 50px;
	background-color: $color_background;
	padding: 16px 28px;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	float: right;
	border: none;
}
}





