/*the end header*/
/*menu*/
.menu {
	max-width: 677px;
	margin: 0 auto;
	min-height: 50px;

	@media (max-width: 527px) {
		& {
			width: 100%;

		}
	}

	& ul {
		@extend %center;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: 527px) {

			& {
				justify-content: flex-start;
				flex-direction: column;

			}

			& li {
				width: 100%;
			}

		}

		& .active {
			border-bottom: 3px solid $color_border;
		}

		& li {
			list-style-type: none;
			padding: 17px 8px 12px 8px;
			border-bottom: 3px solid transparent;

			&:active {
				border-bottom: 3px solid $color_border;
			}

			&:focus {
				border-bottom: 3px solid $color_border;
			}

			&:hover {
				border-bottom: 3px solid $color_border;
			}

			& a {
				text-decoration: none;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 14px;
				color: #222222;

				@media (max-width: 440px) {
					font-size: 20px;
				}
			}

		}
	}
}
